header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1px;
    background-color: #141d2f;
    z-index: 3;
    // height: 60px;
    // margin: 16px;
    // border-radius: 20px;
    // background-color: #EF534F;
    // color: whitesmoke;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    // padding: 5px 17px 5px 17px;
    // position: sticky;
    // top: 0;
    // z-index: 3;
}

.name {
    font-size: 44px;
    font-weight: bold;
    padding-left: 100px;    // universal padding for header didnt work (see first statement under .links for padding right)
}

.links {
    padding-right: 100px ;
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    margin-left: -150%; 
    transition: all 225ms ease-in-out;

    a {
        text-decoration: none;
        color: white;
        font-size: 22px;
        transition: color 225ms ease-in-out;

        &:hover {
            color: var(--color-secondary);
        }

    }
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-primary);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.name-link {
    text-decoration: none;
    color: white;
}

.menu-icn {
    height: 40px;
    margin-right: 32px;
    display: none;
    z-index: 3;
}

.close-icn {
    height: 32px;
    margin-right: 32px;
    z-index: 3;
    cursor: pointer;
}

.mobile-menu {
    margin-left: 0;
}

.d-none {
    display: none !important;
}

@media (max-width: 1150px) {
    .links {
        width: 40%;
    }
}

@media (max-width: 1050px) {
    .links {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(13 33 41 / 90%);
        backdrop-filter: blur(8px);
        width: 100vw;
        height: 100vh;
        
    }

    .links a {
        margin: 25px 0;
        font-size: 2rem;
    }



    .menu-icn{
        display: block;
        cursor: pointer;
    }

    .name {
        padding-left: 22px;
    }
}
