<div class="footer-container section-spacing">

    <div class="name-imprint">
        <a href="#"><span>N<span style="color: #00BEE8;">i</span>clas M<span style="color: #4B47FF;">i</span>chel</span></a>


        

        <a href="#">Imprint</a>
    </div>

    <span class="copyright">© Niclas Michel 2023</span>

    <div class="social-footer">
        <a title="Visit my Github" href="https://github.com/nicmicdev" target="_blank"><img
                src="assets/img/github-icn.png" alt="" class="icons-footer pd-r-x"></a>
        <a title="Send me a mail" href="mailto:mail@niclasmichel.com" target="_blank"><img src="assets/img/mail-icn.png"
                alt="" class="icons-footer pd-r-x"></a>
        <a title="Visit my LinkedIn" href="https://www.linkedin.com/in/niclas-michel/" target="_blank"><img
                src="assets/img/linkedin-icn.png" alt="" class="icons-footer pd-r-x"></a>
    </div>

</div>