.about-me-container {
//    height: 100vh;       //später rausnehmen --> only for development
   position: relative;
   margin-bottom: -80px;    // to move section divider img up 
}

.about-me-content {
    display: flex;
}

.about-me-text {
    width: 50%;
    font-size: 17px;
}

.about-me-pic {
    width: 50%;
    display: flex;
    justify-content: center;
   
}

.img-me {
    height: 420px;
    border-radius: 100%;
    border: 2px solid #00BEE8;
    z-index: 2;
    background-color: #141d2f;
    position: absolute;
    top: 77px;
}

.shadow-me {
    position: absolute;
    top: 0;
    z-index: -1;
    height: 650px;
}

.icon-container {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 50px;
    }
}

.p-width {
    width: 75%;
}

