.projects-container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    // justify-content: center;
}

.projects-heading {
    display: flex;
    align-items: center;


    h2 {
        margin-bottom: 0;
    }

    img {
        position: absolute;
        left: -32px;
    }
}

.project {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.project-right-container {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 0px 50px;
}

.project-img {
    height: 300px;
    padding-top: 32px;
}

.p-heading {
    font-size: 32px;
    color: var(--color-primary);
    margin-top: 0;
    margin-bottom: 0;
}

.p-sub-heading {
    font-size: 23px;
    color: var(--color-secondary);
}

.p-description {
    font-size: 16px;
    padding-bottom: 22px;
}

.project-btns {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.live-test-btn {
    min-width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: var(--color-primary);
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    transition: all 225ms ease-in-out;
    font-weight: 100;

    &:hover {
        background-color: var(--color-secondary);
    }
}

.github-btn {
    min-width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    border: 1px solid var(--color-secondary);
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    transition: all 225ms ease-in-out;
    font-weight: 100;

    &:hover {
        background-color: var(--color-secondary);
    }

}

.flip-order {
    flex-direction: row-reverse;
}


.shadow-p-left {
    position: absolute;
    left: -464px;
    bottom: 200px;
    z-index: -1;
}

.shadow-b-right {
    position: absolute;
    right: -375px;
    z-index: -1;
}

#tab-selection {
    display: flex;
    justify-content: center ;
    margin-bottom: 32px;
}

.tab-select-switch-left {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    border: 1px solid var(--color-secondary);
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    transition: all 225ms ease-in-out;
    font-weight: 100;
    border-top-right-radius: 0;
    border-bottom-right-radius:0;
    cursor: pointer;
    
    &:hover {
        background-color: var(--color-primary);
        border: 1px solid var(--color-primary);

    }
}
.tab-select-switch-right {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    border: 1px solid var(--color-secondary);
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    transition: all 225ms ease-in-out;
    font-weight: 100;
    border-top-left-radius: 0;
    border-bottom-left-radius:0;
    cursor: pointer;
    
    &:hover {
        background-color: var(--color-primary);
        border: 1px solid var(--color-primary);
    }
}

.active {
    background-color: var(--color-secondary);
}

.btn-tag { 
    min-width: 150px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background: #8d8d8d;
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    transition: all 225ms ease-in-out;
    font-weight: 100;
    pointer-events: none;
}

.p-description i {
    color: orange;
}

.project-btns a {
    margin-right: 22px;
}

@media (max-width: 1150px) {
    .project {
        display: flex;
        flex-direction: column;
    }

    .project-img {
        padding-top: 0px;
    }
}

@media (max-width: 1080px) {
    .project-right-container {
        width: auto;
    }

    .projects-container {
        padding-top: 0;
    }
}

@media(max-width: 500px) {
    
    .project-img {
        height: 200px;
    }
}