<div class="projects-container section-spacing">

    <div class="projects-heading">
        <h2 class="section-heading">Portfolio</h2>
        <img src="assets/img/line-middle-purple.png" alt="">
        
    </div>
    
    <span class="subtext" style="padding-bottom: 70px;">Here you can see a sample of my work - please feel free to try out my projects.</span>

    <div class="project" >
        <img class="project-img" src="assets/img/join.png" alt="">

        <div class="project-right-container">
            <h3 class="p-heading">Join</h3>
            <span class="p-sub-heading">JavaScript | HTML | CSS</span>
            <p class="p-description">Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users, categories and more.</p>

            <div class="project-btns">
                <a href="https://niclas-michel.developerakademie.net/projects/join/" target="_blank"><button class="live-test-btn">Live Test</button></a>
                <a href="https://github.com/nicmicdev/join" target="_blank"><button class="github-btn">Github</button></a>
            </div>
            
        </div>

    </div>

    <div class="project flip-order">

        <img class="project-img" src="assets/img/epl.png" alt="">

        <div class="project-right-container">
            <h3 class="p-heading">El Pollo Loco</h3>
            <span class="p-sub-heading">JavaScript | OOP | HTML | CSS</span>
            <p class="p-description">A simple Jump-and-Run game based on an object-oriented approach. Help Pepe to find coins and bottles to fight against the endboss.</p>

            <div class="project-btns">
                <a href="https://el-pollo-loco.niclasmichel.com/" target="_blank"><button class="live-test-btn">Live Test</button></a>
                <a href="https://github.com/nicmicdev/el-pollo-loco" target="_blank"><button class="github-btn">Github</button></a>
            </div>
            
        </div>

    </div>

    <div class="project">
        <img class="project-img" src="assets/img/pokedex.png" alt="">

        <div class="project-right-container">
            <h3 class="p-heading">Pokédex</h3>
            <span class="p-sub-heading">JavaScript | API | HTML | CSS</span>
            <p class="p-description">Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users, categories and more.</p>

            <div class="project-btns">
                <a href="https://niclas-michel.developerakademie.net/projects/pokedex/" target="_blank"><button class="live-test-btn">Live Test</button></a>
                <a href="https://github.com/nicmicdev/pokedex" target="_blank"><button class="github-btn">Github</button></a>
            </div>
            
        </div>

    </div>

    <div class="project flip-order" >

        <img class="project-img" src="assets/img/portfolio.png" alt="">

        <div class="project-right-container">
            <h3 class="p-heading">Portfolio</h3>
            <span class="p-sub-heading">Angular | HTML | CSS</span>
            <p class="p-description">My personal portfolio website to showcase my work is built with the Angular framework.</p>

            <div class="project-btns">
                <a href="https://niclas-michel.developerakademie.net/projects/join/" target="_blank"><button class="live-test-btn">Live Test</button></a>
                <a href="https://github.com/nicmicdev/join" target="_blank"><button class="github-btn">Github</button></a>
            </div>
            
        </div>

    </div>

    <img class="shadow-p-left" src="assets/img/shadow-p-2.png" alt="">
    <img class="shadow-b-right" src="assets/img/shadow-b-2.png" alt="">


</div>