<div class="projects-container section-spacing">

    <div class="projects-heading">
        <h2 class="section-heading">Portfolio</h2>
        <img src="assets/img/line-middle-purple.png" class="purple-line" alt="">
    </div>


    
    <span class="subtext" style="padding-bottom: 70px;">Here you can see a sample of my work. Please feel free to try out my projects.</span> 
    <!-- <b style="color: orange;">You can filter</b> between my <i><b>personal projects</b></i> and <i><b>client work</b></i>. </span> -->

    <!-- TAB SELECTION -->
    <!-- <div id="tab-selection" >
        <input onclick="showProjects()" id="show-projects" class="tab-select-switch-left" type="button" value="Projects"/>
        <input onclick="showClient()" id="show-clients" class="tab-select-switch-right" type="button" value="Client Work"/>
    </div> -->

    <div class="project" id="join">
        <img class="project-img" src="assets/img/join.png" alt="">

        <div class="project-right-container">
            <h3 class="p-heading">Join</h3>
            <span class="p-sub-heading">JavaScript | HTML | CSS</span>
            <p class="p-description">Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users, categories and more.</p>

            <div class="project-btns">
                <a href="https://join.niclasmichel.com" target="_blank"><button class="live-test-btn">Live Test</button></a>
                <a href="https://github.com/nicmicdev/join" target="_blank"><button class="github-btn">Github</button></a>
            </div>
            
        </div>

    </div>

    <div class="project flip-order" id="epl">

        <img class="project-img" src="assets/img/epl.png" alt="">

        <div class="project-right-container">
            <h3 class="p-heading">El Pollo Loco</h3>
            <span class="p-sub-heading">JavaScript | OOP | HTML | CSS</span>
            <p class="p-description">A simple Jump-and-Run game based on an object-oriented approach. Help Pepe to find coins and bottles to fight against the endboss.</p>

            <div class="project-btns">
                <a href="https://el-pollo-loco.niclasmichel.com/" target="_blank"><button class="live-test-btn">Live Test</button></a>
                <a href="https://github.com/nicmicdev/el-pollo-loco" target="_blank"><button class="github-btn">Github</button></a>
            </div>
            
        </div>

    </div>

    
    <div class="project flip-order" id="pokedex" >
        <img class="project-img" src="assets/img/pokedex.png" alt="">

        <div class="project-right-container">
            <h3 class="p-heading">Pokédex</h3>
            <span class="p-sub-heading">JavaScript | API | HTML | CSS</span>
            <p class="p-description">This is my first API project. Go have a look and browse some Pokémons.</p>

            <div class="project-btns">
                <a href="https://pokedex.niclasmichel.com" target="_blank"><button class="live-test-btn">Live Test</button></a>
                <a href="https://github.com/nicmicdev/pokedex" target="_blank"><button class="github-btn">Github</button></a>
            </div>
            
        </div>

    </div>

    <div class="project" id="irecu">
        <img class="project-img" src="assets/img/irecu.png" alt="">

        <div class="project-right-container">
            <h3 class="p-heading">iRecu ®</h3>
            <span class="p-sub-heading">Wordpress | CSS | Client Work</span>
            <p class="p-description">Custom landingpage for Kueppers Solutions based on clients wishes. Feel free to have a look at my work.</p>

            <div class="project-btns">
                <a href="https://i-recu.de" target="_blank"><button class="live-test-btn">Live Test</button></a>
                <a href="https://kueppers-solutions.de" target="_blank"><button class="github-btn">Company</button></a>
                <!-- <a><button class="btn-tag">Client</button></a> -->
            </div>
            
        </div>

    </div>

    <div class="project flip-order" id="portfolio">

        <img class="project-img" src="assets/img/portfolio.png" alt="">

        <div class="project-right-container">
            <h3 class="p-heading">Portfolio</h3>
            <span class="p-sub-heading">Angular | Typescript | CSS | HTML</span>
            <p class="p-description">My personal portfolio website to showcase my work is built with the Angular framework.</p>

            <div class="project-btns">
                <a href="#"><button class="live-test-btn">Live Test</button></a>
                <a href="https://github.com/nicmicdev/portfolio" target="_blank"><button class="github-btn">Github</button></a>
            </div>
            
        </div>

    </div>

    <div class="project" id="comingsoon" >
        <img class="project-img" src="assets/img/comingsoon.png" alt="">

        <div class="project-right-container">
            <h3 class="p-heading">Coming Soon Page</h3>
            <span class="p-sub-heading">HTML</span>
            <p class="p-description">This should serve as an example how easy yet simple code can be. The index.html file has got <b><i>just 109 lines</i></b> but solves a use case for many people.
                A simple coming soon page to signalize that the website is currently under development.</p>

            <div class="project-btns">
                <a href="https://niclas-michel.developerakademie.net/projects/coming-soon-page/" target="_blank"><button class="live-test-btn">Live Test</button></a>
                <a href="https://github.com/nicmicdev/coming-soon-page" target="_blank"><button class="github-btn">Github</button></a>
            </div>
            
        </div>

    </div>

    <div class="project" id="eatflix" >
        <img class="project-img" src="assets/img/eatflix.png" alt="">

        <div class="project-right-container">
            <h3 class="p-heading">Eatflix</h3>
            <span class="p-sub-heading">JavaScript | HTML | CSS</span>
            <p class="p-description">This is a simple delivery service website inspired by Lieferando. Main focus of this project is the simulation of an easy online shopping process.

            </p>

            <div class="project-btns">
                <a href="https://eatflix.niclasmichel.com" target="_blank"><button class="live-test-btn">Live Test</button></a>
                <a href="https://github.com/nicmicdev/" target="_blank"><button class="github-btn">Github</button></a>
            </div>
            
        </div>

    </div>



</div>