<div class="contact-container section-spacing">
    <div class="contact-heading">
        <h2 class="section-heading">Contact</h2>
        <img src="assets/img/line-middle-purple.png" alt="">
    </div>

    <div class="contact-content">
        <div class="contact-text">
            <h3>Got a problem to solve?</h3>

            <p>I am interested in your projects, knowing your ideas and contributing with my work. Please contact me
                through this form if you are interested in cooperating with me.</p>

            <p style="font-size: 20px;">Need a Frontend Developer? <b>Contact me!</b></p>

        </div>

        <div class="contact-form">
            <form (submit)="sendMail()" #myForm ngNativeValidate>
                <input name="name" type="text" placeholder="Your name" required #nameField>
                <input name="mail" type="email" placeholder="Your email" required #mailField>
                <textarea name="message" placeholder="Your message" id="" cols="30" rows="10" required #messageField></textarea>
                
                <span class="msg-success hidden" id="msgSuccess">Message was sent</span>

                <div id="checkbox-div" class="checkbox-wrapper">
                    <input id="dsgvo-check" type="checkbox" value="accept-dsgvo" required #dsgvoCheck>
                    <label for="dsgvo-check">I accept the <a href="#" target="_blank">data protection declaration</a> (DSGVO).</label>
                </div>
                
                <button type="submit" class="form-btn" #formBtn>Send message</button>
            </form>

        </div>
    </div>

    <img class="shadow-b" src="assets/img/shadow-b-2.png" alt="">
</div>