.contact-container {
    padding-top: 100px;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}

.contact-heading {
    display: flex;
    align-items: center;

    h2 {
        margin-bottom: 0;
        position: absolute;
        right: 100px;
    }

    img {
        position: absolute;
        right: -17px;
    }
}

.contact-content {
    display: flex;
    padding-top: 150px;
}

.contact-text {
    width: 35%;
}

.contact-form {
    width: 65%;
    display: flex;
    justify-content: flex-end;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 65%;
    }

    input {
        // margin-bottom: 32px;
        // background-color: transparent;
        // color: white;
        width: 100%;
        margin-bottom: 16px;
        border: 1px solid #4B47FF;
        background-color: #141d2f;
        color: #fff;
        padding: 8px;
        border-radius: 8px;
        font-size: 16px;
        box-sizing: border-box;
        transition: all 175ms ease-in-out;

        &:hover {
            border-color: #00BEE8;
        }

        &:focus {
            border-color: #00BEE8;
            outline: none;
        }
    }

    textarea {
        resize: none;
        font-family: 'Poppins';
        font-size: 16px;
        width: 100%;
        border: 1px solid #4B47FF;
        background-color: #141d2f;
        color: #fff;
        padding: 8px;
        height: 180px;
        border-radius: 8px;
        resize: none;
        font-size: 16px;
        box-sizing: border-box;

        transition: all 175ms ease-in-out;

        &:hover {
            border-color: #00BEE8;
        }

        &:focus {
            border-color: #00BEE8;
            outline: none;
        }
    }

}

.form-btn {
    width: 175px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #00bee8;
    color: white;
    font-size: 17px;
    padding: 15px 30px;
    transition: all 225ms ease-in-out;
    font-weight: 100;
    margin-top: 32px;
    margin-bottom: 100px;

    &:hover {
        background-color: #4B47FF;
    }
}

.contact-text {
    h3 {
        font-size: 28px;
        margin-top: 0;
    }

    p {
        font-size: 18px;
    }
}

.shadow-b {
    position: absolute;
    left: -365px;
    bottom: -187px;
    z-index: -1;
}