<div class="contact-container section-spacing">
    <div class="contact-heading">
        <h2 class="section-heading">Contact</h2>
        <img src="assets/img/line-middle-purple.png" alt="">
    </div>

    <div class="contact-content">
        <div class="contact-text">
            <h3>Got a problem to solve?</h3>

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta excepturi est illum fuga mollitia voluptate ipsa. Accusamus sunt animi iusto ullam et minima a deserunt, aspernatur consectetur soluta nemo harum!
            </p>

        </div>

        <div class="contact-form">
            <form action="">
                <input type="text">
                <input type="email">
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </form>

        </div>
    </div>
</div>