<div class="contact-container section-spacing">
    <div class="contact-heading">
        <h2 class="section-heading">Contact</h2>
        <img src="assets/img/line-middle-purple.png" alt="">
    </div>

    <div class="contact-content">
        <div class="contact-text">
            <h3>Got a problem to solve?</h3>

            <p>I am interested in your projects, knowing your ideas and contributing with my work. Please contact me through this form if you are interested in cooperating with me.</p>

            <p style="font-size: 20px;">Need a Frontend Developer? <b>Contact me!</b></p>

        </div>

        <div class="contact-form">
            <form action="" method="POST" return false>
                <input type="text" placeholder="Your name" required> 
                <input type="email" placeholder="Your email" required>
                <textarea name="message" placeholder="Your message" id="" cols="30" rows="10" required></textarea>

                <button class="form-btn">Send message</button>
            </form>

        </div>
    </div>

    <img class="shadow-b" src="assets/img/shadow-b-2.png" alt="">
</div>