<div class="skills-container section-spacing">

    <div class="skills-icons-container">
        <div class="icn-row">
            <div class="skill">
                <img src="assets/img/js-icn.png" alt="">
                <span>JavaScript</span>
            </div>

            <div class="skill">
                <img src="assets/img/ng-icn.png" alt="">
                <span>Angular</span>
            </div>


            <div class="skill">
                <img src="assets/img/ts-icn.png" alt="">
                <span>TypeScript</span>
            </div>

            <div class="skill">
                <img src="assets/img/css-icn.png" alt="">
                <span>CSS</span>
            </div>
            
            <div class="skill">
                <img src="assets/img/html-icn.png" alt="">
                <span>HTML</span>
            </div>

            <div class="skill">
                <img src="assets/img/api-icn.png" alt="">
                <span>Rest-API</span>
            </div>

            <div class="skill">
                <img src="assets/img/git-icn.png" alt="">
                <span>Git</span>
            </div>


            <div class="skill">
                <img src="assets/img/scrum-icn.png" alt="">
                <span>Scrum</span>
            </div>

            <div class="skill">
                <img src="assets/img/firebase-icn.png" alt="">
                <span>Firebase</span>
            </div>

            <div class="skill">
                <img src="assets/img/wp-icn.png" alt="">
                <span>Wordpress</span>
            </div>

            <div class="skill">
                <img src="assets/img/material-design-icn.png" alt="">
                <span>Material Design</span>
            </div>

            
        </div>
        
        
        <!-- <div class="icn-row">
            <div class="skill">
                <img src="assets/img/api-icn.png" alt="">
                <span>Rest-API</span>
            </div>

            <div class="skill">
                <img src="assets/img/git-icn.png" alt="">
                <span>Git</span>
            </div>


            <div class="skill">
                <img src="assets/img/scrum-icn.png" alt="">
                <span>Scrum</span>
            </div>

            <div class="skill">
                <img src="assets/img/firebase-icn.png" alt="">
                <span>Firebase</span>
            </div>
            

        </div>

        <div class="icn-row">
            <div class="skill">
                <img src="assets/img/wp-icn.png" alt="">
                <span>Wordpress</span>
            </div>

            <div class="skill">
                <img src="assets/img/material-design-icn.png" alt="">
                <span>Material Design</span>
            </div>

        </div> -->

        


        <!-- <img src="assets/img/html-icn.png" alt="">
        <img src="assets/img/api-icn.png" alt="">
        <img src="assets/img/git-icn.png" alt="">
        <img src="assets/img/scrum-icn.png" alt="">
        <img src="assets/img/firebase-icn.png" alt="">
        <img src="assets/img/material-design-icn.png" alt="">
        <img src="assets/img/wp-icn.png" alt=""> -->

    </div>

    <div class="skills-text-container">

        <div class="skills-heading">
            <h2 class="section-heading">Skills</h2>
            <img src="assets/img/purple-line-mini.png" alt="">
        </div>

        <span class="skills-subtext">I have gained experience in building projects with various front end technologies
            and concepts.</span>

        <button class="btn-contact">Contact Me</button>


    </div>

</div>