.skills-container {
    position: relative;
    padding-top: 140px;
    display: flex;
    justify-content: space-between;
}

.skills-icons-container {
    width: 50%;
}

.skills-text-container {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.skills-heading {
    display: flex;
    align-items: center;
    h2 {
        // position: absolute;
        // right: 100px;
        margin-bottom: 0;
    }

    img {
        position: absolute;
        right: 0;
    }
}



.icn-row {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 32px;
}

.skill {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    padding-bottom: 50px;
    opacity: 0.75;
    transition: all 225ms ease-in-out;

    &:hover {
        opacity: 1;
        transform: scale(1.02);
    }

    img {
        padding-bottom: 12px;
        height: 60px;
    }

    span {
        text-align: center;
    }
}