<div class="startscreen-container">

    

    <div class="i-am-container">
        <div class="vertical-container">
            <p class="i-am">I am</p>
        </div>
        
        <div class="horizontal-container">
            <p class="niclas-michel"><b>Niclas Michel</b></p>
            <p class="frontend-dev">FRONTEND DEVELOPER</p>
        </div>
        <img src="assets/img/iam.png" alt="iam-frontend" class="iam-img">

    </div>

    <div class="cta-subtext-container">
        <a href="#contact"><button class="btn-contact">Get in touch</button></a>

        <span id="claim"><i>"Making the web a better place."</i></span>
    </div>

    <div class="bottom-section">
        <div class="line-icons">
            <img src="assets/img/blue-line-s.png" alt="" style="padding-right: 16px;">
            
            <a title="Visit my Github" href="https://github.com/nicmicdev" target="_blank"><img src="assets/img/github-icn.png" alt="" class="icons-start pd-r-x"></a>
            <a title="Send me a mail" href="mailto:mail@niclasmichel.com" target="_blank"><img src="assets/img/mail-icn.png" alt="" class="icons-start pd-r-x"></a>
            <a title="Visit my LinkedIn" href="https://www.linkedin.com/in/niclas-michel/" target="_blank"><img src="assets/img/linkedin-icn.png" alt="" class="icons-start pd-r-x"></a>
        </div>

        <div class="scroll-down-link">
            <a href="#about-me">
                <img src="assets/img/scroll-down.png" alt="">
            </a>
        </div>
    </div>

   

</div>