<div class="startscreen-container">

    

    <div class="i-am-container">
        <div class="vertical-container">
            <p class="i-am">I am</p>
        </div>
        
        <div class="horizontal-container">
            <p class="niclas-michel"><b>Niclas Michel</b></p>
            <p class="frontend-dev">FRONTEND DEVELOPER</p>
        </div>

    </div>

    <button class="btn-contact-start">Get in touch</button>

    <img class="shadow-start-left" src="assets/img/shadow-blue-start.png" alt="">
    <img class="shadow-start-right" src="assets/img/shadow-turq-start.png" alt="">

    <div class="bottom-section">
        <div class="line-icons">
            <img src="assets/img/blue-line-s.png" alt="" style="padding-right: 16px;">
            
            <img src="assets/img/github-icn.png" alt="" class="pd-r-x">
            <img src="assets/img/mail-icn.png" alt="" class="pd-r-x">
            <img src="assets/img/linkedin-icn.png" alt="" class="pd-r-x">

        </div>

        <div class="scroll-down-link">
            <a href="">Scroll down</a>
        </div>
    </div>

   

</div>