.startscreen-container {
    height: calc(100vh);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

.i-am-container {
    display: flex;
}

.vertical-container {
    transform: rotate(-90deg);
    margin-right: -70px;

}

.i-am {
    font-size: 64px;
    margin: 0;
}

.niclas-michel {
    font-size: 100px;
    margin: 0;
    margin-bottom: -33px;
}


.frontend-dev {
    color: var(--color-primary);
    font-size: 58px;
    margin: 0;
}

.shadow-start-left{
    position: absolute;
    left: 0;
    z-index: -1;
}
.shadow-start-right{
    position: absolute;
    right: -250px;
    z-index: -1;
}

.bottom-section {
    position: absolute;
    bottom: 22px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.line-icons {
    display: flex;
    align-items: center;
    margin-top: 111px;

}

#claim {
    color: grey;
}

.pd-r-x {
    padding-right: 16px;
}

.scroll-down-link {

    margin-right: 5%;

    &:hover {
        transform: translateY(1.3)
    }

    // a {
    //     text-decoration: none;
    //     color: white;
    // }
}

.icons-start {
    height: 32px;
    transition: all 175ms ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
    
}

#claim {
    font-size: 22px;
    margin-top: 77px;
}

//RESPONSIVE
@media (max-width:1300px) {
    // .frontend-dev {
    //     color: rgb(35, 165, 197);
    // }

    .shadow-start-left {
        position: absolute;
        left: -200px;
    }

    .shadow-start-right {
        position: absolute;
        right: -350px;
    }

}

.cta-subtext-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.iam-img {
    display: none;
    height: 111px;
}

@media (max-width:850px) {
    .niclas-michel {
        font-size: 3rem;
        margin-bottom: -21px;
    }

    .frontend-dev{
        font-size: 2rem;
    }

    .vertical-container {
        margin-right: -45px;
    }

    .i-am {
        font-size: 2.5rem;
    }

    .shadow-start-right {
        right: -420px;
    }

    .shadow-start-left {
        left: -333px;
    }

    .cta-subtext-container {
        display: flex;
        flex-direction: column-reverse;
    }
}


@media (max-width:550px) {
    .btn-contact {
        margin-top: 100px;
    }

    .shadow-start-right {
        right: -525px;
    }
}

@media (max-width:450px) {
    .i-am {
        display: none;
    }

    .niclas-michel {
        display: none;
    }

    .frontend-dev {
        display: none;
    }

    .iam-img {
        display: block;
    }

    .shadow-start-left, .shadow-start-right {
        display: none;
    }
    
    .i-am-container {
        display: flex;
        width: 100vw;
        justify-content: center;
        padding-left: 50px;
    }

    #claim {
        font-size: 18px;
    }
}

@media (max-width: 375px) {
    .iam-img {
        height: 85px;
    }

    #claim {
        font-size: 16px;
    }
}

