html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #141d2f;
    color: #fff;
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    font-family: Poppins;
    scroll-behavior: smooth;
    transition: all 225ms ease-in-out;
}

:root {
// --color-primary: #eb9c5c;
// --color-secondary: #22ce6a;
--color-primary: #4B47FF;
--color-secondary: #00BEE8;
}

hr {
    width: 100px;
    margin-right: 12px;
}

#more {
    display: none;
}

.section-heading {
    font-size: 90px;
    font-weight: 700;
    margin-top: 0;
}

.section-spacing {
    padding: 0 100px;
}

app-about-me {
    position: relative;
}

.btn-contact{
    width: 165px;
    height: 58px;
    padding: 15px 30px;
    //color: teal;
    border-radius: 10px;
    border: none;
    background-color: var(--color-secondary);
    font-size: 18px;
    cursor: pointer;
    margin-top: 32px;
    transition: all 225ms ease-in-out;

    &:hover {
        background-color: var(--color-primary);
        color: white;
        // transform: scale(1.05);
    }
}

.subtext {
    font-size: 20px;
    font-weight: 200;
    padding-top: 32px;
    padding-bottom: 32px;
}


/* MOBILE */


@media (max-width: 650px) {
    .section-heading {
        font-size: 4.5rem
    }

    .section-spacing {
        padding: 0 32px;
    }

    .purple-line {
        display: none;
    }
}

@media (max-width: 375px) {
    .section-heading {
        font-size: 3rem !important;
    }
}



// //SCROLLBAR

/* width */
// ::-webkit-scrollbar {
//     width: 7px;
//   }
  
//   /* Track */
//   ::-webkit-scrollbar-track {
//     background: #141d2f; 
//   }
   
//   /* Handle */
//   ::-webkit-scrollbar-thumb {
//     background: #888; 
//     border-radius: 10px;
//   }
  
//   /* Handle on hover */
//   ::-webkit-scrollbar-thumb:hover {
//     background: var(--color-secondary); 
//   }

//   .d-none {
//     display: none !important;
//   }
