html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #141d2f;
    color: #fff;
    // width: 100vw;
    // max-width: 100%;
    // overflow-x: hidden;
    position: relative;
    font-family: Poppins;
    scroll-behavior: smooth;
}