html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #141d2f;
    color: #fff;
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    font-family: Poppins;
    scroll-behavior: smooth;
}

.section-heading {
    font-size: 90px;
    font-weight: 700;
    margin-top: 0;
}

.section-spacing {
    padding-left: 100px;
    padding-right: 100px;
}

app-about-me {
    position: relative;
}

.btn-contact{
    width: 165px;
    height: 58px;
    padding: 15px 30px;
    color: teal;
    border-radius: 10px;
    border: none;
    background-color: #00BEE8;
    font-size: 18px;
    cursor: pointer;
    margin-top: 32px;
    transition: all 225ms ease-in-out;

    &:hover {
        background-color: #4B47FF;
        color: white;
        // transform: scale(1.05);
    }
}

// //SCROLLBAR

// /* width */
// ::-webkit-scrollbar {
//     width: 7px;
    
//   }
  
//   /* Track */
//   ::-webkit-scrollbar-track {
//     background: #141d2f;
  
//   }
   
//   /* Handle */
//   ::-webkit-scrollbar-thumb {
//     background: #00BEE8;
//     border-radius: 22px;
//   }
  
//   /* Handle on hover */
//   ::-webkit-scrollbar-thumb:hover {
//     background: #555; 
//   }